<footer class="footer">
  <small>
    The <a href="https://www.facebook.com/thangtx0309/">This blog </a>
    made  by <a href="https://www.facebook.com/thangtx0309/">Thangtx</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.facebook.com/thangtx0309">News</a></li>
    </ul>
  </nav>
</footer>